
<h3 class=" hd-titel m-1 underline ">Category</h3>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="" style="overflow: hidden;">
  <div class="table-responsive">
    <div class="">
      <div class="table-title">
        <div class="row_">
          <div class="col-sm-12">
            
            <a class="btn btn-outline-primary" (click)="openAddCategoryModal()"> <i class="material-icons">add_circle_outline</i> Add New Category</a>

            <button style="float: right;" id="button-addon1" type="submit" class="btn btn-link text-primary" >
              <input style="width: 170px;" type="search" placeholder="Rechercher par nom" data-toggle="modal"  />
            </button>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories ">
          <td>{{category.nomCategory}}</td>

          <td>
            <a  class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit" (click)="handleEdit(category)">&#xE254;</i></a>
            <a  class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete" (click)="handleDelete(category.idCategory)">&#xE872;</i></a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
