<div class="bg-transparent w-full h-24">

    <nav class="px-4 py-4 w-full flex items-center bg-white justify-between text-zinc-600">
        <div class="w-32">
            <img src=".\assets\images\PdfImage.png" alt="">
        </div>
        <ul class="lg:flex   lg:w-auto lg:space-x-6">
            <li>
                <a class="hover:underline hover:font-bold" routerLink="products">Uir-shop</a>
            </li>
            <li>
                <a class="no-underline hover:underline">Textile</a>
            </li>
            <li>
                <a class="no-underline hover:underline">Goodies</a>
            </li>
            <li>
                <a class="no-underline hover:underline">High tech</a>
            </li>

        </ul>
        <div class="w-2/6 ">
            <span class="p-input-icon-right w-full  border-gray-400 border-b">
                <i class="pi pi-search"></i>
                <input class=" w-full outline-none"   type="text" pInputText placeholder="Rechercher un produit"  />
            </span>
        </div>

            <div class="inline-block">
            <button class="flex items-center relative hover:text-yellow-uir text-blue-1000">
                <span class="rounded-full text-white bg-red-600 h-fit text-xs absolute py-0.5 px-1.5 right-5 -top-1.5">
                    4
                </span>

                <span class="">
                    <i class="pi pi-shopping-cart text-2xl  "></i>
                </span>
            </button>
        </div>
       
    </nav>

</div>